* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #f9f7f7;
  --light-blue-color: #dbe2ef;
  --blue-color: #3f72af;
  --dark-blue-color: #112d4e;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--light-blue-color);
}

.section-titles {
  color: var(--blue-color);
  font-size: 34px;
  font-weight: lighter;
  width: 52%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* Header / Nav Start*/

header {
  padding: 20px 35px;
  background-color: var(--dark-blue-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}

header h1 {
  font-weight: lighter;
  font-size: 38px;
  color: var(--white-color);
}

header a {
  text-decoration: none;
  color: var(--white-color);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

header nav ul li a {
  padding: 0 15px;
  font-weight: lighter;
  font-size: 1.4vw;
}

header nav ul li a:hover {
  color: var(--blue-color);
}
/* Header / Nav End */

/* Hero Start*/
.hero {
  background-image: url(../images/hero.jpeg);
  background-size: cover;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  background-position: center;
}
.hero h3 {
  color: var(--white-color);
  font-weight: lighter;
  font-size: 30px;
}

#subtitle {
  background-color: var(--blue-color);
  border: solid 3px var(--dark-blue-color);
  margin: 25% 5% 10%;
  padding: 0.5% 3.4%;
}

/* Hero End*/

/* About Me Start */
#about-me {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin: 25px 0;
}

#about-me p {
  color: var(--blue-color);
  font-size: 18px;
  border-left: solid 3px var(--blue-color);
  padding: 8px 0 8px 50px;
  margin-bottom: 10px;
}

/* About Me End */

/* Projects Start*/
#projects {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: right;
  padding: 0 0 0 2%;
  margin-top: 0.5%;
}

.main-project img {
  width: 95%;
  flex-shrink: 2;
}
/* Projects End */
