* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #f9f7f7;
  --light-blue-color: #dbe2ef;
  --blue-color: #3f72af;
  --dark-blue-color: #112d4e;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--light-blue-color);
}

img {
  width: 100%;
}

.section-titles {
  color: var(--blue-color);
  font-size: 34px;
  font-weight: lighter;
}

.border {
  border-left: solid 3px var(--dark-blue-color);
}

/* Navbar start */
.navbar-nav {
  margin-left: auto;
}

.navbar-custom {
  background-color: var(--dark-blue-color);
}

.navbar-custom .navbar-brand {
  margin-left: 15px;
}

.navbar-custom .navbar-nav {
  margin-right: 15px;
}

/* change the brand text color */
.navbar-custom .navbar-brand {
  color: var(--white-color);
  font-size: 1.4vw;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: var(--white-color);
  font-size: 1vw;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item:hover {
  color: var(--light-blue-color);
}

/* Hero Start*/
.hero {
  background-image: url(../images/hero.jpeg);
  background-size: cover;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  background-position: center;
}
.hero h3 {
  color: var(--white-color);
  font-weight: lighter;
  font-size: 30px;
}

#subtitle {
  background-color: var(--blue-color);
  border: solid 3px var(--dark-blue-color);
  margin: 25% 5% 10%;
  padding: 0.5% 3.4%;
}
/* Hero End*/

/* About me start */
#about-me {
  margin-top: 15px;
}
#about-me p {
  color: var(--blue-color);
  font-size: 18px;
}

/* About me end*/

/* Project*/
.img-txt {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.project-description {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background-color: var(--white-color);
  color: var(--blue-color);
  padding-left: 10px;
  padding-right: 10%;
  border-radius: 25px;
}

.project-description h5,
.project-description p {
  margin: 5px;
}

.img-txt {
  margin-bottom: 20px;
}
/* Project end */
#contact-me p,
#contact-me a {
  color: var(--blue-color);
  text-decoration: none;
  font-size: 18px;
}
